<!DOCTYPE html>
   <html>
        <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
        <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
        <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
        <!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
        <head> <% include partials/head.ejs %> </head>
        <body>
            <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <% include partials/menu.ejs %>
            <% include partials/title.ejs %>
            
            <!--Test description-->
            <div class="container"><br>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    Cambiar Contraseña
                                </h2>
                            </div>
                            <div class="panel-body">
                                AUDIT es la sigla de Alcohol Use Disorders Identification Test (Prueba de Identificación de Trastornos Relacionados con el Consumo de Alcohol), una prueba simple de diez preguntas desarrollada por la Organización Mundial de la Salud que sirve para determinar si el consumo de alcohol de una persona puede considerarse peligroso.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    Escala Autoaplicada para la Medida de la Depresión de Zung y Conde
                                </h2>
                            </div>
                            <div class="panel-body">
                                La Escala Autoaplicada de Depresión de Zung (Self-Rating Depression Scale, SDS), desarrollada por Zung en 1965, es una escala de cuantificación de síntomas de base empírica y derivada en cierto modo de la escala de depresión de Hamilton, ya que al igual que ella da mayor peso al componente somático-conductual del trastorno depresivo. Fue probablemente una de las primeras en validarse en nuestro país (Conde y cols. 1970) y ha tenido una amplia difusión
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    Escala de Riesgo Suicida de Plutchik
                                </h2>
                            </div>
                            <div class="panel-body">
                                La Escala de Riesgo Suicida fue diseñada por Plutchik con objeto de discriminar a los pacientes suicidas de aquellos que no lo son. Está formada por una serie de variables que otros autores han relacionado con el suicidio. Es capaz de discriminar entre individuos normales y pacientes psiquiátricos con ideación autolítica.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2 class="panel-title">
                                    M.I.N.I PLUS
                                </h2>
                            </div>
                            <div class="panel-body">
                                Es una entrevista diagnóstica estructurada de breve duración que explora los principales trastornos psiquiátricos del Eje I del DSM-IV y la CIE-10. Estudios de validez y de confiabilidad se han realizado comparando la MINI con el SCID-P para el DSM-III-R y el CIDI (una entrevista estructurada desarrollada por la Organización Mundial de la Salud para entrevistadores no clínicos para la CIE-10).
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <% include partials/footer.ejs %>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
            <script src="js/vendor/bootstrap.min.js"></script>
            <script src="js/main.js"></script>
        </body>
    </html>