 <!--Barra de menú principal-->
<nav class="navbar-personalizado">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">
                <span class="icon-bar app-bar"></span>
                <span class="icon-bar app-bar"></span>
                <span class="icon-bar app-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav nav-personalizado">
                <li><a href="/">Inicio</a></li>
                <li><a href="servicios">Servicios</a></li>
                <li><a href="about">Acerca de SIPDEP</a></li>
                <li><a href="directorio">Directorio</a></li>
            </ul>
        </div>
    </div>
</nav>