<% if (typeof(errorMessage) != 'undefined' && errorMessage.length > 0) { %>
    <div class="alert alert-danger">
        <%= errorMessage %>
    </div>
    <% } %>
        <% if (typeof(succesfulMessage) != 'undefined' && succesfulMessage.length > 0) { %>
            <div class="alert alert-success">
                <%= succesfulMessage %>
            </div>
            <% } %>