<!--Título, descripción de la página y botones de registro e inicio de sesión-->
<section class="app-principal">
    <div class="container">
        <h1 class="app-titulo">SIPDEP</h1>
        <p class ="app-desc">Sistema Inteligente Para la Detección de Enfermedades Psiquiátricas</p>
    </div>

    <div class="app-btn">
        <div class="app-login">
           <a href="login">
               <button class="btn btn-login">
                    <span class="glyphicon glyphicon-log-in"></span>
                    <span>Iniciar sesión</span>
               </button>
           </a>
        </div>

        <div class="app-registrar">
           <a href="signup">
               <button class="btn btn-registrar">
                <span class="glyphicon glyphicon-edit"></span>
                <span>Registrarse</span>
            </button>
           </a>
        </div>
    </div>
</section>