<!DOCTYPE html>
   <html>
        <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
        <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
        <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
        <!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
        <head> <% include partials/head.ejs %> </head>
        <body>
            <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <% include partials/menu.ejs %>
            <% include partials/title.ejs %>
            <br>
            <div class="container center">
               <div class="row">
                     <div class="col-sm-12 col-md-12 col-lg-12">
                         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox">
                        <div class="item active">
                          <img src="img/photo1.jpg" alt="...">
                          <div class="carousel-caption">
                            ...
                          </div>
                        </div>
                        <div class="item">
                          <img src="img/photo2.jpeg" alt="...">
                          <div class="carousel-caption">
                            ...
                          </div>
                        </div>
                        ...
                      </div>

                      <!-- Controls -->
                      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div><!--Carousel-->
                 </div><!--Container-->
               
              </div> 
            </div>
                
            <div class="container"><br>
                <div class="row">
                      <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">¿Qué es SIPDEP?</h3>
                            </div>
                            <div class="panel-body">
                            SIPDEP es un Sistema Inteligente para la Detección de Enfermedades Psiquíatricas. Nace de la necesidad de automatizar el proceso de aplicación de pruebas a los estudiantes y personas que requieran de las mismas.De la misma manera, SIPDEP se encarga de obtener los resultados y realizar un diagnostico a partir de las respuestas de la persona que aplique la prueba.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Pruebas</h3>
                            </div>
                            <div class="panel-body">
                            SIPDEP trabaja en base a pruebas establecidas. Si deseas aplicar alguna prueba, lo primero que debes hacer es registrarte. Una vez que te registres, podrás establecer tu perfil de estudiante o dejarlo
                            como usuario general. Es importante que llenes toda la información de tu perfil, ya que son datos necesarios para la generación de resultados. 
                            Cuando hayas completado la fase del registro, podrás aplicar pruebas, realizando la solicitud a alguno de los aplicadores.
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            
            <% include partials/footer.ejs %>
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
            <script src="js/vendor/bootstrap.min.js"></script>
            <script src="js/main.js"></script>
        </body>
    </html>