<!DOCTYPE html>
   <html>
        <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
        <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
        <!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
        <!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
        <head> <% include partials/head.ejs %> </head>
        <body>
            <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <br>
            <div class="container">
             <div class="panel panel-default">
                 
                 <div class="panel-heading">
                   <h2 class="panel-title app-login-title">Escala de Riesgo Suicida de Plutchik</h2>
                 </div>
                 
                 <div class="panel-body">
                     <p><strong>Instrucciones:</strong>Las siguientes preguntas tratan sobre cosas que usted ha sentido o hecho.</p><br>
                   <div class="container col-xs-12">
                        <form role="form">
                            <div class="form-group">
                                <label for="" class="label-control">
                                1. ¿Toma de forma habitual algún medicamento como aspirinas o pastillas para dormir? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg1">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg1">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                2. ¿Tiene dificultades para conciliar el sueño? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg2">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg2">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                3. ¿A veces nota que podría perder el control sobre sí mismo/a? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg3">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg3">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                4. ¿Tiene poco interés en relacionarse con la gente? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg4">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg4">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                5. ¿Ve su futuro con más pesimismo que optimismo?
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg5">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg5">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                6. ¿Se ha sentido alguna vez inútil o inservible? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg6">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg6">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                7. ¿Ve su futuro sin ninguna esperanza?  
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg7">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg7">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                8. ¿Se ha sentido alguna vez tan fracasado/a que sólo quería meterse en la cama y abandonarlo todo?  
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg8">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg8">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                9. ¿Está deprimido/a ahora? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg9">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg9">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                10. ¿Está usted separado/a, divorciado/a o viudo/a?  
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg10">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg10">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                11. ¿Sabe si alguien de su familia ha intentado suicidarse alguna vez?  
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg11">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg11">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                12. ¿Alguna vez se ha sentido tan enfadado/a que habría sido capaz de matar a alguien?  
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg12">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg12">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                13. ¿Ha pensado alguna vez en suicidarse?
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg13">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg13">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                14. ¿Le ha comentado a alguien, en alguna ocasión, que quería suicidarse? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg14">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg14">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="" class="label-control">
                                15. ¿Ha intentado alguna vez quitarse la vida? 
                                </label>
                                <div class="radio">
                                    <label><input type="radio" name="preg1">Sí</label>
                                </div>
                                <div class="radio">
                                    <label><input type="radio" name="preg1">No</label>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-primary">Enviar</button>
                            </div>
                        </form>
                   </div>
                     
                 </div><!--Panel Body-->
             </div><!--Panel-->
            </div><!--Container-->
            
            <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
            <script src="js/vendor/bootstrap.min.js"></script>
            <script src="js/main.js"></script>
        </body>
    </html>