<!DOCTYPE html>
<html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <% include partials/head.ejs %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js "></script>
    <script src="js/vendor/jquery.validate.js"></script>
    <script src="js/vendor/additional-methods.js"></script>
    <script type="text/javascript" src="js/validator.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->

    <% include partials/menu.ejs %>
        <!--Panel de registro-->
        <div class="container app-registro center">
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="app-login-title panel-title">Registrate</h2>
                </div>

                <div class="panel-body">
                    <% if (typeof(errorMessage) != 'undefined' && errorMessage.length > 0) { %>
                        <div class="alert alert-danger">
                            <%= errorMessage %>
                        </div>
                        <% } %>
                            <% if (typeof(succesfulMessage) != 'undefined' && succesfulMessage.length > 0) { %>
                                <div class="alert alert-success">
                                    <%= succesfulMessage %>
                                </div>
                                <% } %>
                                    <form action="/signup" class="form-horizontal" id="signupForm" role="form" method="post">
                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label class="control-label" for="nombre">Nombre:</label>
                                                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingresa tu nombre">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label class="control-label" for="apellidos">Apellidos:</label>
                                                <input type="text" name="apellidos" class="form-control" id="apellidos" placeholder="Ingresa tus apellidos">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <label class="control-label" for="inputNombreUsuario">Nombre de usuario:</label>
                                                <input type="text" name="username" class="form-control" id="inputApellidos" placeholder="Ingresa un nombre de usuario" onfocus="onfocusUsername(this)">
                                            </div>
                                        </div>

                                        <div class=" form-group ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                <label class="control-label " for="inputCorreo ">Correo:</label>
                                                <input type="email" name="correo" class="form-control " id="inputCorreo" placeholder="Ingresa tu correo">
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                <label class="control-label " for="passwd1">Contrase単a:</label>
                                                <input type="password" name="pass1" class="form-control" id="password1" placeholder="Ingresa tu contrase単a">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                <label class="control-label " for="passwd2">Repite la contrase単a:</label>
                                                <input type="password" name="pass2" class="form-control" id="password2" placeholder="Ingresa tu contrase単a nuevamente">
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                <label class="control-label " for="inputFechaNac ">Fecha de nacimiento:</label>
                                                <input type="date" name="fecha" class="form-control " id="inputFechaNac">
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                <label class="control-label " for="inputSexo ">Sexo:</label>
                                                <select name="sexo" class="form-control ">
                                                    <option>Hombre</option>
                                                    <option>Mujer</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div class="col-xs-11 ">
                                                <button type="submit " id="btnSubmit"class="btn btn-primary ">Registrarme</button>
                                            </div>
                                        </div>
                                    </form>
                </div>
                <!--Panel body-->
            </div>
            <!--Panel-->
        </div>
        <!--Container-->

        <% include partials/footer.ejs %>
            <script>
                window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js "><\/script>')
            </script>
            <script src="js/vendor/bootstrap.min.js "></script>
            <script src="js/main.js "></script>
</body>

</html>