/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.input-personalizado{
    background: transparent;
    outline: none;
    border-color: inherit;
    box-shadow: none;
    border: 0px;
    background-color: transparent;
}

.noresize {
  resize: none; 
}

.input-personalizado:focus{
    outline: none;
}

.navbar-personalizado{
    background-color: #DADADA;
    border-radius: 0;
    margin-bottom: 0;
}

.nav-personalizado>li>a{
    color: black;
    text-shadow: none;
}

.nav-personalizado>li>a:hover{
    background-color: #BFBFBF;
}

.app-bar{
    background-color: white;
}

.app-principal{
    background-color: #1B3257;
    color: white;
    text-align: center;
}

.app-titulo{
    font-size: 40px;
}

.app-desc{
    font-size: 18px;
}

.app-info{
    font-size: 15px;
}
.app-btn{
     display: inline-block;
}

.app-login{
    display: inline-block;
}

.app-registrar{
    display: inline-block;
}

.btn-login{
    color: black;
    background-color: #DADADA;
}

.btn-registrar{
    color: black;
    background-color: #DADADA;
}

.user-img{
    font-size: 50px;
    color: #1B3257;
}

.app-top{
    margin-top: 10px;
    font-size: 18px;
}

.app-user{
    text-align: center;
    font-size: 18px;
    margin-right: auto;
}

.app-img-centrar{
    margin-left: auto;
    margin-right: auto;
}

.app-justificar{
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 5px;
}

.app-footer{
    margin-top: 22%;
    background-color: #1B3257;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 25px;
}

.app-login-title{
    text-align: center;
}

.section-directorio{
    border-width: 1px;
}

.container-directorio{
    border-width: 2px;
    border-color: red;
}

.app-userActive{
    width: 100px;
    height: 20px;
}

.app-activado{
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.app-test{
    font-size: 45px;
    color: #1B3257;
}

#signupForm .error{
    color: #FF0000;
}

#loginForm .error{
    color: #FF0000;
}

#passChangeForm .error{
    color: #FF0000;
}

#passChangeFormApp .error{
    color: #FF0000;
}
#addAplForm .error{
	color: #FF0000;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li label {
    display: inline-block;
    color: black;
    text-align: center;
    padding-bottom: 100%;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
    font-weight: normal;
}
ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/*.hidden>div {
    display:none;
}

.visible>div {
    display:block;
}*/

.slidingDiv {
height:300px;
background-color: #99CCFF;
padding:20px;
margin-top:10px;
border-bottom:5px solid #3399FF;
}

.show_hide {
display:none;
}

#contentPrimero
{
	background-color: #1B3257;
	color: #FFFFFF;
	border-style: solid;
	border-color: #4C71C5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 10px;
}

#contentDivImg
{
	display: none;
	background-color: #1B3257;
	color: #FFFFFF;
	border-style: solid;
	border-color: #4C71C5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#contentDivImg1
{
	display: none;
	background-color: #1B3257;
	color: #FFFFFF;
	border-style: solid;
	border-color: #4C71C5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#contentDivImg2
{
	display: none;
	background-color: #1B3257;
	color: #FFFFFF;
	border-style: solid;
	border-color: #4C71C5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#contentDivImg3
{
	display: none;
	background-color: #1B3257;
	color: #FFFFFF;
	border-style: solid;
	border-color: #4C71C5;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#datosmini
{
	font-family: 'Lato', Arial, sans-serif;
    font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

#datosmini1
{
	font-family: 'Lato', Arial, sans-serif;
    font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#moduloA > li:active
{
	background-color:gold;
}



/*Small*/
@media only screen and (min-width : 480px) {
    .app-registro{
        width: 100%;
    }
}

/*Medium*/
@media only screen and (min-width: 768px) {
    .app-registro{
        width: 60%;
    }
}
/*Large*/
@media only screen and (min-width: 992px){
    .app-registro{
        width: 40%;
    }
}

/*Extra large*/
@media only screen and (min-width: 1200px){
    .app-registro{
        width: 40%;
    }
}